.input,.input-img{
    display: flex;
    justify-content: center;
}
body{
    background-color: black;
    color: white;
}
.img img{
    max-width: 25%;
    max-height: 25%;
    border: 2px solid white;
}
input::-webkit-file-upload-button{
    background-color: grey;
    border: none;
}
