body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    background-image: url('./bg.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
}

.nav{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.nav img{
    align-items: center;
    height: 30px;
    width: 30px;
}

.nav button{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    letter-spacing: 2px;
    gap: 20px;
    cursor: pointer;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}
#gallery img {
    max-width: 300px;
    margin: 10px;
}
